# 🧱 Archivos de entorno y configuración sensible
.env
.env.*
instance/

# 🐍 Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🧩 Entorno virtual
venv/

# 🗃️ Base de datos SQLite
*.db
database.db

# 🍎 Archivos del sistema macOS
.DS_Store
