{% extends "base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<div class="card shadow p-4 mx-auto" style="max-width: 400px;">
  <h4 class="mb-3 text-center">🔒 Restablecer Contraseña</h4>
  <form method="POST">
    <div class="mb-3">
      <label>Nueva contraseña:</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button class="btn btn-success w-100">Actualizar contraseña</button>
  </form>
</div>
{% endblock %}
